* {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

body {
    background-color: #e9d0ff;
}

main {
    background-color: white;
    width: 500px;
    margin: 0 auto;
    box-shadow: 3px 3px 5px #696969;
}